@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap");
footer {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .logo-footer, footer .logo-footer img {
    width: 2rem;
    height: 2rem;
    margin: 1rem; }

@media (min-width: 375px) and (max-width: 992px) {
  .recomendaciones1 .recomendacioness .card {
    width: 50px;
    height: 100px; }
    .recomendaciones1 .recomendacioness .card img {
      width: 50px;
      height: 100px;
      object-fit: cover; } }

@media (min-width: 375px) and (max-width: 992px) {
  .recomendaciones1 .recomendacioness .card {
    width: 50px;
    height: 100px; }
    .recomendaciones1 .recomendacioness .card img {
      width: 50px;
      height: 100px;
      object-fit: cover; } }

.main-peliculas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1f 1f; }
  .main-peliculas .marvel {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-peliculas .marvel img {
      width: 70vw;
      height: 30vh; }
  .main-peliculas h1 {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: 1.5rem 0;
    font-family: "Roboto", sans-serif;
    color: #fdfdff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .main-peliculas h2 {
    margin: 1.5rem 5rem;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    color: #fdfdff;
    text-transform: uppercase; }
  .main-peliculas .peliculas {
    display: grid;
    width: 92%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
    row-gap: 1.5rem; }
    .main-peliculas .peliculas .peliculas-card img {
      width: 200px;
      height: 300px;
      object-fit: cover; }
    .main-peliculas .peliculas .peliculas-card:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #152656;
  font-family: "Nunito", sans-serif; }
  body header nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px; }
    body header nav .container-fluid .marvelnav {
      color: #fa0303 !important; }
  body .hero-container {
    cursor: pointer;
    opacity: 0.5; }
    body .hero-container:hover {
      opacity: 0.9;
      transition: 0.8s ease-in-out; }
    body .hero-container img {
      width: 100%;
      height: 100vh;
      object-fit: fill; }
  body .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 1.2rem;
    padding: 10px;
    align-items: center;
    justify-content: space-between; }
    body .wrapper .recomendaciones1 .reco-title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;
      font-family: "Libre Baskerville", serif;
      font-weight: 600;
      font-size: 2em;
      color: #fdfdff;
      text-transform: uppercase; }
    body .wrapper .recomendaciones1 .recomendacioness {
      display: grid;
      width: 92%;
      margin: auto;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 310px;
      justify-content: space-between;
      row-gap: 10px; }
      body .wrapper .recomendaciones1 .recomendacioness .card {
        width: 200px;
        height: 300px; }
        body .wrapper .recomendaciones1 .recomendacioness .card a img {
          width: 200px;
          height: 300px;
          object-fit: cover; }
        body .wrapper .recomendaciones1 .recomendacioness .card a:hover {
          transform: scale(1.1);
          transition: 0.3s ease-in; }
