@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap');
@import "queries";
$font-h2: 'Libre Baskerville', serif;
$font-h1: 'Roboto', sans-serif;
$font-p: 'Nunito', sans-serif;
$color-bg: #fdfdff;


    .main-peliculas{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1f 1f;

        .marvel{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 70vw;
                height: 30vh;
            }
        }
    
        h1{
            display: flex;
            justify-content: center;
            justify-content: center;
            margin:1.5rem 0;
            font-family: $font-h1;
            color:$color-bg;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        
    
        h2{
            margin:1.5rem 5rem;
            font-family: $font-h2;
            font-size: 1.5rem;
            color: $color-bg;
            text-transform: uppercase;

        }
    
        .peliculas{
            display: grid;
            width: 92%;
            margin: auto;
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            justify-content: space-between;
            row-gap: 1.5rem;
    
            .peliculas-card{
                img{
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                }
                &:hover{
                    transform: scale(1.1);
                    transition: 0.3s ease-in;
                }
    
            }
        }
    
    }


