@media (min-width: 375px) and (max-width: 992px){

    .recomendaciones1{
        .recomendacioness{
            .card{
                width: 50px;
                height: 100px;
                    img{
                        width: 50px;
                        height: 100px;
                        object-fit: cover;
                    }
            }
        }

    }

}