@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap');
@import "footer";
@import "queries";
@import "paginas";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(62,59,56);
    background: radial-gradient(circle, rgba(62,59,56,1) 11%, rgba(122,126,104,1) 100%);
    font-family: $font-p;

    header{
        nav{
            font-family: $font-h1;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px;
        }
    }
    
    .hero-container{
        img{
            width: 100%;
            height: 80vh;
            object-fit: fill;
            opacity: 0.5;

            &:hover{
                opacity: 0.9;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .wrapper{
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
        margin: 0;
        padding: 10px;
        align-items: center;
        justify-content: space-between;

        .categorias{
            color: #fff;
            font-family:$font-p;
            font-weight: bold;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
            align-self: start;
            margin-top: 10px;
            margin-left: 10px;
            h2{
                font-family:$font-h2;
                color:$color-bg;
            }
            
        }

        .recomendaciones1{
            h2{
                font-family:$font-h2;
                color:$color-bg;
                }

                .recomendacioness{
                    display: grid;
                    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                    grid-auto-rows: 310px;
                    justify-content: space-between;
                    row-gap: 10px;
        
                    .card{
                        width: 200px;
                        height: 300px;
        
                        a{
                            img{
                                width: 200px;
                                height: 300px;
                                object-fit: cover;
                            }
                        }
        
                    }
                    
                }
            }
        }
}
        