@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); 
@import "footer";
@import "queries";
@import "paginas";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #152656;
    font-family: $font-p;

    header{
        nav{
            font-family: $font-h1;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px;
                .container-fluid{
                    .marvelnav{
                        color: rgb(250, 3, 3) !important;
                    }
                }
        }
    }
    
    .hero-container{
        cursor: pointer;
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
            transition: 0.8s ease-in-out;
        }
        img{
            width: 100%;
            height: 100vh;
            object-fit: fill;
            
        }
    }

    .wrapper{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        margin-top: 1.2rem;
        padding: 10px;
        align-items: center;
        justify-content: space-between;      

        .recomendaciones1{
            .reco-title{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem;
                font-family:$font-h2;
                font-weight: 600;
                font-size: 2em;
                color:$color-bg;
                text-transform: uppercase;
                }

                .recomendacioness{
                    display: grid;
                    width: 92%;
                    margin: auto;
                    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                    grid-auto-rows: 310px;
                    justify-content: space-between;
                    row-gap: 10px;
        
                    .card{
                        width: 200px;
                        height: 300px;
        
                        a{
                            img{
                                width: 200px;
                                height: 300px;
                                object-fit: cover;
                            }

                            &:hover{
                                    transform: scale(1.1);
                                    transition: 0.3s ease-in;
                            }
                        }
        
                    }
                    
                }
            }
        }
}
        