@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito:ital,wght@1,300&family=Roboto:wght@300;500&display=swap");
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logo-footer, footer .logo-footer img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

@media (min-width: 375px) and (max-width: 992px) {
  .categorias {
    display: none;
  }
  .recomendaciones1 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .recomendaciones1 .recomendacioness .card {
    width: 50px;
    height: 100px;
  }
  .recomendaciones1 .recomendacioness .card img {
    width: 50px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 375px) and (max-width: 992px) {
  .categorias {
    display: none;
  }
  .recomendaciones1 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
  .recomendaciones1 .recomendacioness .card {
    width: 50px;
    height: 100px;
  }
  .recomendaciones1 .recomendacioness .card img {
    width: 50px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main-peliculas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1f 1f;
      grid-template-rows: 1f 1f;
}

.main-peliculas h1 {
  font-family: "Roboto", sans-serif;
  color: #fdfdff;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  margin: 0 50%;
}

.main-peliculas h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #fdfdff;
}

.main-peliculas .peliculas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}

.main-peliculas .peliculas .peliculas-card img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #3e3b38;
  background: radial-gradient(circle, #3e3b38 11%, #7a7e68 100%);
  font-family: "Nunito", sans-serif;
}

body header nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}

body .hero-container img {
  width: 100%;
  height: 80vh;
  -o-object-fit: fill;
     object-fit: fill;
  opacity: 0.5;
}

body .hero-container img:hover {
  opacity: 0.9;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .categorias {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 10px;
  margin-left: 10px;
}

body .wrapper .categorias h2 {
  font-family: "Montserrat", sans-serif;
  color: #fdfdff;
}

body .wrapper .recomendaciones1 h2 {
  font-family: "Montserrat", sans-serif;
  color: #fdfdff;
}

body .wrapper .recomendaciones1 .recomendacioness {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 310px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
}

body .wrapper .recomendaciones1 .recomendacioness .card {
  width: 200px;
  height: 300px;
}

body .wrapper .recomendaciones1 .recomendacioness .card a img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */